<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="desktop-56geccg.kutuphane_uyg.dbo" connectionString="XpoProvider=MSSqlServer;Data Source=.;Initial Catalog=kutuphane_uyg;Persist Security Info=True;User ID=sa;Password=1;MultipleActiveResultSets=True;Application Name=EntityFramework" />
    <add name="localhost_kutuphane_uyg_Connection" connectionString="XpoProvider=MSSqlServer;data source=localhost;user id=;password=;initial catalog=kutuphane_uyg;Persist Security Info=true" />
    <add name="localhost_kutuphane_uyg_Connection 1" connectionString="XpoProvider=MSSqlServer;data source=localhost;user id=sa;password=1;initial catalog=kutuphane_uyg;Persist Security Info=true" />
    <add name="kutuphane_uygEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=kutuphane_uyg;persist security info=True;user id=sa;password=1;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="kutuphane_uygEntities1" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=kutuphane_uyg;persist security info=True;user id=sa;password=1;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>